In [10]:
# Read file1 and when "#" is appear than suppose after # is comment ,Remove all comments and write in file2
f1=open("file1.txt")
r1=f1.readlines()
f2=open("file2.txt","w+")
r2=f2.read()
print(r1)
for i in r1:
    if i.startswith("#"): # or if i[0]=="#"
        continue
    else:
        if "#" in i:
            ind=i.find("#")
            f2.write(i[0:ind]+"\n")
        else:
            f2.write(i)
f1.close()
f2.close()

['Hi hello!!\n', '# how are you\n', 'I am in LJ Eng. # LJIET\n', 'Welcome to LJ']
Hi hello!!

Welcome to LJ

In [9]:
# que 1 type2
f1=open("file1.txt")
r1=f1.readlines()
f2=open("file2.txt","w+")
r2=f2.read()
print(r1)
for i in r1:
    x=i.split("#")
    print(x[0])
f1.close()
f2.close()

['Hi hello!!\n', '# how are you\n', 'I am in LJ Eng. # LJIET\n', 'Welcome to LJ']
Hi hello!!


I am in LJ Eng.
Welcome to LJ

In [12]:
# Que1 type1
f=open("Auction.txt")
r=f.readlines()
l1=[]
l2=[]
for i in r:
    z=i.split(" ")
    l1.append(z[0])
    l2.append(int(z[1]))
print(l1)
print(l2)

['dhruv', 'dhoni', 'virat', 'rohit', 'sachin', 'bumrah', 'jadeja', 'kuldeep', 'dhairya', 'parshwa']
[500, 1000, 100, 200, 300, 250, 600, 400, 50, 55]

In [16]:
d=list(zip(l1,l2))
di={}
for i,j in d:
    di[i]=j

In [18]:
di

{'dhruv': 500,
 'dhoni': 1000,
 'virat': 100,
 'rohit': 200,
 'sachin': 300,
 'bumrah': 250,
 'jadeja': 600,
 'kuldeep': 400,
 'dhairya': 50,
 'parshwa': 55}

In [22]:
m=max(di.values())
mi=min(di.values())

In [20]:
m

1000

In [21]:
for i,j in di.items():
    if j==m:
        print(i,j)

dhoni 1000

In [23]:
for i,j in di.items():
    if j==mi:
        print(i,j)

dhairya 50

In [26]:
# Que2 type1
ma=max(l2)
i1=l2.index(ma)
print(f"Maximum bid : {l1[i1]}:{ma}")
mi=min(l2)
i1=l2.index(mi)
print(f"Minimum bid : {l1[i1]}:{mi}")

Maximum bid : dhoni:1000
Minimum bid : dhairya:50